
################################################################################################################################
# Select version for tinycore linux
# See http://tinycorelinux.net/downloads.html
TC_VERSION=13

################################################################################################################################
# Select arch for tinycore linux
# See http://tinycorelinux.net/TC_VERSION
TC_ARCH=x86_64

################################################################################################################################
# TinyCore Linux Repo url
#TC_REPO="http://tinycorelinux.net/"

################################################################################################################################
# Set the output directory
#BUILD_OUTPUT="$WORK_DIR"

################################################################################################################################
# DOWNLOAD is the curl download command for downloading files
#          use CURL_DOWNLOAD to change the behavior
#CURL_DOWNLOAD="$CURL_DOWNLOAD "

################################################################################################################################
# FETCH    is the curl download command for fetch informations
#          use CURL_FETCH to change the behavior
#CURL_FETCH="$CURL_FETCH "

################################################################################################################################
# Caching files in build directory
CACHE_FILES=true

################################################################################################################################
# Do not do clean up after build
#DO_NOT_CLEANUP=true

################################################################################################################################
# PACKAGES is tcz package names that will be bundled into rootfs
#          See the tinycorelinux repository
#          Dependencies will be auto resolved
PACKAGES=(
  "pkg-config"
  "make"
  "gcc"
  "gcc_base-dev"
  "gcc_libs-dev"
  "gcc_libs"
  "glibc_base-dev"
  "linux-5.15_api_headers"
  "fuse"
  "curl"
  "git"
)

additional_patchs() {
################################################################################################################################
# Additional patches to the rootfs.
# the unpacked rootfs is under $BUILD_DIR/rootfs
#
# PACKAGE_DIR is the directory that containing downloaded packages.
# BUILD_DIR   is the build root.
# WORK_DIR    is the current work directory
#
################################################################################################################################
: Write your additional rootfs patches here

################################################################################################################################
}
# END build.rc
